@import "../../global/main.scss";

.btn-secondary {
  border: 1px solid var(--primary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all $ease 0.5s;

  &:hover {
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--secondary-color);
  }
}
