@import "./global/_fonts.scss";
@import "./global/main.scss";

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --tertiary-color: #{$tertiary-color};
  --quaternary-color: #{$quaternary-color};
  --quinary-color: #{$quinary-color};
}
