@import "../global/main.scss";
.btn {
  padding: 5px 10px;
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  font-family: "Nunito", sans-serif;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
